*{
    padding: 0px;
    margin: 0px;
}

#nav-tabs{
    display: flex;
    height: 100vh;
    align-items: stretch;
}

#compLogo{
    width: 80px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    transition: margin-left 3s;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    width: 7%;
    height: 100%;
    background-color: gray;
    transition: width .5s, margin-left 3s , margin-right 3s;
     
}



#nav-bar button{
    background-color: transparent;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    transition: margin-left .0s , margin-right .0s ease-out;

}

#nav-bar > button > img{
    height: 28px;
    margin-right: 2%;

}

#nav-bar button span{
    display: none;
}

#nav-bar > button.navActive{
    background-color: #FFBC00;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
   
}

#nav-bar .sidebar-Submenu button.navActive{
    color: #ffc933;
    
}

#nav-bar:hover{
    width: 20%;
}

#nav-bar:hover > button{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10%;
    border-radius: 0px;
    
}

#nav-bar:hover .sidebar-Submenu >button{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20%;
}

#nav-bar:hover button span{
    display: block;
}

#nav-bar:hover #compLogo{
    width: 100px;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 30px;
    margin-bottom: 25px;
    
}


.sidebar-Submenu{
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 94, 94);
    height: 0px;
    transition: height 1s;
    
}

.sidebar-Submenu button{
    display: none !important;
    
}



#nav-bar:hover .sidebar-Submenu-Active{
    height: auto;
    margin-top: -5px;

    
}

#nav-bar:hover .sidebar-Submenu.sidebar-Submenu-Active button{
   
    display: flex !important;
}

#TabsContent{
    flex: 1;

}

#TabsContent > div{
    display: none;
}

.Active-Tab{
    display: flex !important;
}



/* Tabs */


/* dashboard design */

#dashbordTab{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* user design */

#userName{
    display: flex;
    height: 6vh;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 1%;
}

#userName img{
    height: 100%;
    
}
#userName p{ 
    font-size: 26px;
    margin-top: auto;
    margin-bottom: auto;
}

#DashboardStatistics{
    display: flex;
    height: 25vh;
    margin-top: 5%;
    margin-left: 5%;
    
}

#DashboardStatistics div{
    border: 1px;
    border-style: double;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#DashboardStatistics div:first-child{
    width: 30vw;
    margin-right: 5%;
}

#DashboardStatistics div:nth-child(2){
    width: 24vw;
    margin-right: 5%;
}

#DashboardStatistics div:nth-child(3){
    width: 14vw;
    margin-right: 5%;
}

/* up coming booking table */

#upComingBooking{
    margin-left: 2%;
    margin-top: 5%;
    margin-right: 2%;
    background-color: antiquewhite;
    border-collapse: collapse;
}

#upComingBooking th, #upComingBooking td{
    padding-left: 3px;
    text-align: start;
    border-right: 2px solid black;
}

#upComingBooking th:last-of-type, #upComingBooking td:last-of-type{
    border: none;
}

#upComingBooking thead tr{
    border-spacing: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}


/* Drivers */



#driversTab{
    display: flex;
    flex-direction: column;
}

#driverTitle{
    display: flex;
    width: 5%;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 20px;
}


/* drivers table */

#driverTable{
    margin-left: 2%;
    
    margin-right: 2%;
    background-color: antiquewhite;
    border-collapse: collapse;
}

#driverTable th, #driverTable td{
    padding-left: 3px;
    text-align: start;
    border-right: 2px solid black;
}

#driverTable th:last-of-type, #driverTable td:last-of-type{
    border: none;
}

#driverTable thead tr{
    border-spacing: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#driversToolbox{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;

}

#driversToolbox input{
    width: 30%;
}

#driversToolbox button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: .5% 1%;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

#driversToolbox button img{
    width: 20%;
}


/* Vehicle */

#vehicleTab{
    display: flex;
    flex-direction: column;
}

#vehicleTitle{
    display: flex;
    width: 5%;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 20px;
}

/* 
    Drivers drop down  
    for add drivers and update drivers
*/
.drivers-dropDown-box{
    border: 1px solid black;
    border-radius: 2px;
    margin-right: 24%;
    display: flex;
    padding-top: 1%;
    padding: 1%;
    
}

.drivers-dropDown-box span{
    font-size: 24px;

}

.drivers-dropDown-box img{
    margin-left: auto;
    width: 6%;
    margin-right: 1%;
}

.drivers-List-Container{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-right: 24%;
    
}

.drivers-List-checkbox{
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.drivers-List-checkbox.Active{
    overflow-y: auto ;
    height: auto;
    transition: height 1s;
}

.drivers-List-checkbox label{
    display: flex;
    flex: 1;
    padding: 2% 1%;
    background-color: antiquewhite;

}

/* Check box size */
.drivers-List-checkbox label input{
    -ms-transform: scale(2); 
    -moz-transform: scale(2); 
    -webkit-transform: scale(2); 
    -o-transform: scale(2); 
    transform: scale(2);
    margin-left: 2%;
}

.drivers-List-checkbox label span{
    margin-left: auto;
    margin-right: 1%;

}


/* Add Vehicel tab */

#vAddTitle{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    font-size: 34px;
    
}

#vAddTitle img{
    height: 2em;
    margin-right: 1%;

}

#addVehicleTab{
    display: flex;
    flex-direction: column;
    height: 100%;
}



#addVehicleForm{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#addVehicleForm >div:first-of-type{
    display: flex;
    flex-direction: row;
    flex: 1;
    
}


/* add Vehicle Form Left side */
#addVehicleFormLeft{
    flex: 1 ;
    display: flex;
    flex-direction: column; 

}

#addVehicleFormLeft > label{
    font-size: 24px;
    margin-top: 4.5%;
}

#addVehicleFormLeft > input{
    margin-right: 24%;
    font-size: 24px;
    padding-top: .4%;
    padding-bottom: .4%;
    
}

/* add Vehicle Form right side */

#addVehicleFormRight{
    flex: 1;
    display: flex;
    flex-direction: column; 
}

#addVehicleFormRight > label{
    font-size: 24px;
    margin-top: 4.5%;
}

/* input Number of seats */
#addVehicleFormRight > input[type=number]{
    margin-right: auto;
    font-size: 24px;
    padding-top: .4%;
    padding-bottom: .4%;
    
}

#addVehicleFormRight > input[type=text], #addVehicleFormRight > select{
    margin-right: 5%;
    font-size: 24px;
    padding-top: .4%;
    padding-bottom: .4%;
}


/* add Vehicle Form Submit and cancel*/

#addVehicleFormSubmit{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-top: auto;
    margin-bottom: 2%;
}

#addVehicleFormSubmit input{
    margin-left: 2%;
    padding-left:8%;
    padding-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1px;
    font-size: 24px;
}

#addVehicleFormSubmit input:first-child{
    background-color: white;
    border: 1px solid black;
    color: black;
}

#addVehicleFormSubmit input:last-child{
    background-color: black;
    color: #FFBC00;
}

/* Update Vehicle Tab*/

#vUpdateTitle{
    display: flex;
    align-items: center;
    margin-top: 1%;
    font-size: 34px;
    justify-content: space-between;
    
}

#vUpdateTitle div{
    display: flex;
    align-items: center;
}

#vUpdateTitle div:first-child{
    font-size: 40px;
    margin-left: 2%;
}

#vUpdateTitle div:first-child span{
    font-size: 26px;
    margin-left: 4%;
}

#vUpdateTitle div:last-child{
    margin-right: 2%;
    flex: 1;
    justify-content: end;
    
}


#vUpdateTitle img{
    height: 2em;
    margin-right: 1%;
}


#updateVehicleTab{
    display: flex;
    flex-direction: column;
    height: 100%;
}



#updateVehicleForm{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#updateVehicleForm >div:first-of-type{
    display: flex;
    flex-direction: row;
    flex: 1;
    
}


/* add Vehicle Form Left side */
#updateVehicleFormLeft{
    flex: 1 ;
    display: flex;
    flex-direction: column; 

}

#updateVehicleFormLeft > label{
    font-size: 24px;
    margin-top: 4.5%;
}

#updateVehicleFormLeft > input{
    margin-right: 24%;
    font-size: 24px;
    padding-top: .4%;
    padding-bottom: .4%;
    
}

/* add Vehicle Form right side */

#updateVehicleFormRight{
    flex: 1;
    display: flex;
    flex-direction: column; 
}

#updateVehicleFormRight > label{
    font-size: 24px;
    margin-top: 4.5%;
}

/* input Number of seats */
#updateVehicleFormRight > input[type=number]{
    margin-right: auto;
    font-size: 24px;
    padding-top: .4%;
    padding-bottom: .4%;
    
}

#updateVehicleFormRight > input[type=text], #updateVehicleFormRight > select{
    margin-right: 5%;
    font-size: 24px;
    padding-top: .4%;
    padding-bottom: .4%;
}


/* add Vehicle Form Submit and cancel*/

#updateVehicleFormSubmit{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-top: auto;
    margin-bottom: 2%;
}

#updateVehicleFormSubmit input{
    margin-left: 2%;
    padding-left:8%;
    padding-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1px;
    font-size: 24px;
}

#updateVehicleFormSubmit input:first-child{
    background-color: white;
    border: 1px solid red;
    color: red;
}

#updateVehicleFormSubmit input:last-child{
    background-color: black;
    color: #FFBC00;
}



/* vehicle category manage tab*/
#categoryVehicleTab{
    display: flex;
    flex-direction: column;
    font-size: 36px;
}

#categoryVehicleTab span{
    margin-top: 1%;
    margin-left: 1%;
}

#categoryVehicleTab div {
    display: flex;
}

#categoryVehicleTab div button{
    margin-left: auto;
    padding: .6% 2%;
    background-color: gray;
    border-radius: 40px;
    margin-right: 4%;
}


#categoryVehicleTab table{
    font-size: 24px;
}


/* AdminTab */

#adminsTab{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#AdminVTitle{
    display: flex;
    align-items: center;
    height: 2em;
    font-size: 36px;
    margin-top: 1%;
    margin-left: .5%;
}

#AdminVTitle img{
    height: 100%;
}

#addAdminBtn{
    margin-left: auto;
    font-size: 24px;
    background-color: transparent;
    border-radius: 6px;
    margin-right: 2%;
    padding: .5% 2%;
}

#adminFilters{
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
    
}


#adminFilters select{
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
    
}

#adminSearchContainer{
    display: flex;
    margin-left: auto;
    
    width: 30%;
}

#adminSearchContainer input{
    margin-left: 5%;
    width: 90%;
}

#adminTable{
    margin-left: 2%;
    
    margin-right: 2%;
    background-color: antiquewhite;
    border-collapse: collapse;
}

#adminTable th, #adminTable td{
    padding-left: 3px;
    text-align: start;
    border-right: 2px solid black;
}

#adminTable th:last-of-type, #adminTable td:last-of-type{
    border: none;
}

#AdminTable thead tr{
    border-spacing: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}



/* Add admin tab */


#addAdminTab{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#addAdminTitle{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 36px;
}

#addAdminTitle img{
    height: 2em;
    margin-right: 1%;
    
}

/* add admin form */

#addAdminForm{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#addAdminForm > div{
    display: flex;
    flex: 1;
}

#addAdminForm > div > div{
    flex: 1;
}

#addAdminFormLeft{
    display: flex;
    flex-direction: column;
    
    margin-top: 2%;
    margin-left: 1%;
    
    font-size: 24px;

}

#addAdminFormLeft label{
    margin-top: 3%;
    margin-right: 6%;
}

#addAdminFormLeft input{
    font-size: 24px;
    padding-top: .1%;
    padding-bottom: .1%;
    margin-right: 6%;

}

/* add admin form right  */

#addAdminFormRight{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    
}

#addAdminFormRight > label{
    margin-top: 3%;
}

#addAdminFormRight select{
    font-size: 24px;
    padding-top: .1%;
    padding-bottom: .1%;
    margin-right: 6%;
    
}

#addAdminFormBranchBox{
    display: none;
    flex-direction: column;
    margin-top: 3%;
}


#addAdminFormBranchBox.Active{
    display: flex;
}

#addAdminFormGender{
    align-items: center;
    
}

#addAdminFormGender label{
    
    margin-right: 4%;
    margin-left: 1%;
}

#addAdminFormRight > input{
    font-size: 24px;
    padding-top: .1%;
    padding-bottom: .1%;
    margin-right: 6%;
}

/*add admin submit buttons */

#addAdminformSubmit{
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 2%;
    margin-right: 4%;
}

#addAdminformSubmit input{
    padding: 1% 2%;
    margin-left: 1%;
    font-size: 20px;
}

#addAdminformSubmit input:first-of-type{
    background-color: white;
    font-weight: 400;
}

#addAdminformSubmit input:last-of-type{
    background-color: black;
    color: white;
    font-weight: 600;
}

#addAdminFormPasswordLabel{
    display: flex;
    margin-right: 6%;
}

#addAdminFormPasswordLabel img{
    margin-left: auto;
    
}

/* Update admin */

#updateAdminTab{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#updateAdminTitle{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 36px;
}

#updateAdminTitle img{
    height: 2em;
    margin-right: 1%;
    
}

/* update admin form */

#updateAdminForm{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#updateAdminForm > div{
    display: flex;
    flex: 1;
}

#updateAdminForm > div > div{
    flex: 1;
}

#updateAdminFormLeft{
    display: flex;
    flex-direction: column;
    
    margin-top: 2%;
    margin-left: 1%;
    
    font-size: 24px;

}

#updateAdminFormLeft label{
    margin-top: 3%;
    margin-right: 6%;
}

#updateAdminFormLeft input{
    font-size: 24px;
    padding-top: .1%;
    padding-bottom: .1%;
    margin-right: 6%;

}

/* update admin form right  */

#updateAdminFormRight{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    
}

#updateAdminFormRight > label{
    margin-top: 3%;
}

#updateAdminFormRight select{
    font-size: 24px;
    padding-top: .1%;
    padding-bottom: .1%;
    margin-right: 6%;
    
}

#updateAdminFormBranchBox{
    display: none;
    flex-direction: column;
    margin-top: 3%;
    
}


#updateAdminFormBranchBox.Active{
    display: flex;
}

#updateAdminFormGender{
    align-items: center;
    
}

#updateAdminFormGender label{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4%;
    margin-left: 1%;
}

#updateAdminFormRight > input{
    font-size: 24px;
    padding-top: .1%;
    padding-bottom: .1%;
    margin-right: 6%;
}

/*update admin submit buttons */

#updateAdminformSubmit{
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 2%;
    margin-right: 4%;
}

#updateAdminformSubmit input{
    padding: 1% 2%;
    margin-left: 1%;
    font-size: 20px;
}

#updateAdminformSubmit input:first-of-type{
    background-color: white;
    font-weight: 400;
}

#updateAdminformSubmit input:last-of-type{
    background-color: black;
    color: white;
    font-weight: 600;
}

#updateAdminFormPasswordLabel{
    display: flex;
    margin-right: 6%;
}

#updateAdminFormPasswordLabel img{
    margin-left: auto;
    
}



/* FAQ Tab */
#FAQTab{
    display: flex;
    flex-direction: column;
    
}



#FAQTitle{
    width: 2em;
    display: flex;
    flex-direction: row;
    font-size: 36px;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
}

#FAQaddBtnContiner button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    padding: .5% 2%;
    margin-left: auto;
    margin-right: 2%;
    background-color: transparent;
    border: none;
}

#FAQaddBtnContiner button img{
    height: 1.6vw;
    margin-right: 4px;
}

#FAQList{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.FAQ-Item{
    background-color: gray;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}

.FAQ-Question{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: .5%;
}

.FAQ-Question h2{
    margin-right: .4%;
}


.FAQ-Answer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: .5%;
    
}


/* Booking tab */



#BookingsTab{
    display: flex;
    flex-direction: column;
}

#bookingTitle{
    display: flex;
    width: 2em;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
}

#bookingList{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}



.BookingItem{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 1%;
    font-size: 24px;
    margin: .5% 2%;
}


.BookingItem div:first-child{
    display: flex;
    justify-content: space-between;
    
}

.booking-driver{
    margin-top: .5%;
}

/* Inquiries Tab */

#InquiriesTab{
    display: flex;
    flex-direction: column;
}

#InquiriesTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 36px;
}

#InquiriesTitle img{
    height: 2em;
}

#InquiriesTab .Inquiries-List{
    margin-top: 2%;
}

.Inquiries-Item .Inquiries-From{
    display: flex;
    align-items: center;
}



.Inquiries-Item {
    background-color: rgb(248, 248, 248);
    margin-left: 2%;
    margin-right: 2%;
    padding: 1% 2%;
}

.Inquiries-Item .Inquiries-From p{
    font-size: 24px;
}

.Inquiries-Msg p{
    font-size: 20px;
}


/* Inquiry tab */

#InquiryTab{
    display: flex;
    flex-direction: column;

}

#InquiryTab > div:first-child span{
    font-size: 63px;
}

#InquiryTab .Inquiries-From, #InquiryTab .Inquiries-Msg{
    font-size: 24px !important;
}

#InquiryTab .Inquiries-Item {
    background-color: transparent;
    margin-left: .5%;
    margin-right: .5%;
    padding: 1% 2%;
}

#InquiryReply{
    margin-top: 1%;
    margin-left: 1.5%;
    margin-right:1.5%;
    display: flex;
    flex-direction: column;
}

#InquiryReply textarea{
    font-size: 24px;
    resize: none;
    width: 100%;
}

#InquiryReply input{
    font-size: 24px;
    padding: 1% 2%;
    margin-left: auto;
    margin-top: 1%;
    background-color: black;
    color: #FFBC00;
    
}

/* Branch Tab */

#BranchesTab{
    display: flex;
    flex-direction: column;
}

#branchTitle {
    font-size: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    margin-top: .5%;
    margin-left: 1%;
}

#branchTitle img{
    height: 2em;
}

#BranchesTab > button{
    margin-left: auto;
    margin-right: 2%;
    padding: .5% 2%;
    font-size: 20px;
}

/* Sales Tab */
#SalesTab{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#salesTitle{
    display: flex;
    height: 2em;
    font-size: 2rem;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    
}

#salesTitle img{
    height: 100%;
    margin-right: 1%;
}

#salesTimeRangeSelector{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-between;
    background-color: rgb(237, 237, 237);
}

#salesTimeRangeSelector > div{
    background-color: rgb(212, 212, 212);
    padding: 1% 2%;
}

#salesPieContainer{
    flex: 1;
    height: 10px;

    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

#salesPieCharts{
    flex: 1;
    background-color: grey;
    height: 90%;
    width: 50%;
}

#salesStatistics{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.4vw;
    height: 90%;
}

#salesStatistics > div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#salesStatistics p{
    font-size: 3vw;
}



/*
    Modal
    
    
*/

.Modal{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);;
    opacity: 0.99;
    height: 100%; 
    overflow: auto;
}

.Modal.Active{
    display: flex !important;
}



/* Add Admin Modal*/
#addDriversModal form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 36%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
    border-radius: 4px;
    overflow-y: auto;
}

#addDriversModal .modal-Header{
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#addDriversModal .modal-Header, #addDriversModal .modal-Header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4vw;
    
}

#addDriversModal .modal-Header img{
    width: 10%;
    margin-right: 2%;
    
    
}

#addDriversModal .modal-Header span{
    margin-left: auto;
}

#addDriversModal .modal-Body{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 24px;
}

#addDriversModal .modal-Body >label{
    margin-top: 2%;
}

#addDriversModal .modal-Body input{
    font-size: 24px;
}

#addDriversModal .modal-Body select{
    font-size: 24px;
}



#addDriversModal_address{
    resize: none;
    font-size: 24px;
    
}

#addDriversModal_PwContainer{
    display: flex;
    align-items: center;
}

#addDriversModal_UnContainer{
    margin-top: 6%;
    margin-bottom: 2%;
}

#addDriversModal_PwContainer input{
    margin-right: 1%;

}

#addDriversModal .modal-Footer{
    display: flex;
    justify-content: end;
    margin-right: 1%;
    margin-top: 8%;
    margin-bottom: 4%;
}

#addDriversModal .modal-Footer input{
    padding: 2% 4%;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 4px;
}

#addDriversModal .modal-Footer input:first-child{
    background-color: white;
}

#addDriversModal .modal-Footer input:last-child{
    background-color: #FFBC00;
    color: black;
    border: none;
    padding-left: 6%;
    padding-right: 6%;
}

/* update Driver modal */

#updateDriversModal form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 36%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
    border-radius: 4px;
    overflow-y: auto;
}

#updateDriversModal .modal-Header{
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#updateDriversModal .modal-Header, #updateDriversModal .modal-Header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4vw;
    
}

#updateDriversModal .modal-Header img{
    width: 10%;
    margin-right: 2%;
    
    
}

#updateDriversModal .modal-Header span{
    margin-left: auto;
}

#updateDriversModal .modal-Body{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 24px;
}

#updateDriversModal .modal-Body >label{
    margin-top: 2%;
}

#updateDriversModal .modal-Body input{
    font-size: 24px;
}

#updateDriversModal .modal-Body select{
    font-size: 24px;
}



#updateDriversModal_address{
    resize: none;
    font-size: 24px;
    
}

#updateDriversModal_PwContainer{
    display: flex;
    align-items: center;
}

#updateDriversModal_UnContainer{
    margin-top: 6%;
    margin-bottom: 2%;
}

#updateDriversModal_PwContainer input{
    margin-right: 1%;

}

#updateDriversModal .modal-Footer{
    display: flex;
    justify-content: end;
    margin-right: 1%;
    margin-top: 8%;
    margin-bottom: 4%;
}

#updateDriversModal .modal-Footer input{
    padding: 2% 4%;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 4px;
}

#updateDriversModal .modal-Footer input:first-child{
    background-color: white;
}

#updateDriversModal .modal-Footer input:last-child{
    background-color: #FFBC00;
    color: black;
    border: none;
    padding-left: 6%;
    padding-right: 6%;
}



/* Add Vehicle Category modal */


#addVCategoryModalForm{
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 35%;
    margin-top: 2%; 
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
}



#addVCategoryModalForm .modal-Header{
    font-size: 36px;
}

#addVCategoryModalForm .modal-Body{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

#addVCategoryModalForm .modal-Body input{
    font-size: 26px;
    margin-top: 1%;
}

#addVCategoryModalForm .modal-Footer{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: auto;
}

#addVCategoryModalForm .modal-Footer input{
    margin-left: auto;
    padding: 1% 3%;
}


/* FAQ Update Modal */

#UpdateFAQModal.Active{
    display: flex !important;
}

#UpdateFAQModalForm{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 30%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 2%;
    border-radius: 4px;

}


#UpdateFAQModalForm .modal-Body{
    display: flex;
    flex-direction: column;
}

#UpdateFAQModalForm .modal-Body div{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    flex: 1;
    font-size: 24px;
    
    
}

#UpdateFAQModalForm .modal-Body div label{
    padding-right: 1%;
    
}

#UpdateFAQModalForm .modal-Body div input{
    font-size: 24px;
    width: 70%;
}

#UpdateFAQModalAip{
    font-size: 22px;
    width: 70%;
    resize: none;
}

#UpdateFAQModalForm .modal-Footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: 4%;
}

#UpdateFAQModalForm .modal-Footer input{
    padding: 6% 14%;
    font-size: 18px;
    background-color: black;
    color: #FFBC00;
    border-radius: 4px;
}

/* Add FAQ Modal*/
#addFAQModal.Active{
    display: flex !important;
}

#addFAQModalForm{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 30%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 2%;
    border-radius: 4px;

}


#addFAQModalForm .modal-Body{
    display: flex;
    flex-direction: column;
}

#addFAQModalForm .modal-Body div{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    flex: 1;
    font-size: 24px;
    
    
}

#addFAQModalForm .modal-Body div label{
    padding-right: 1%;
    
}

#addFAQModalForm .modal-Body div input{
    font-size: 24px;
    width: 70%;
}

#addFAQModalAip{
    font-size: 22px;
    width: 70%;
    resize: none;
}

#addFAQModalForm .modal-Footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: 4%;
}

#addFAQModalForm .modal-Footer input{
    padding: 6% 14%;
    font-size: 18px;
    background-color: black;
    color: #FFBC00;
    border-radius: 4px;
}

/* Booking details modal */

#bookingDetailModal > div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: auto;
    border-radius: 4px;
}

#bookingDetailModal .modal-Header{
    display: flex;
    background-color: rgb(255, 208, 138);
    padding: 1% 2%;
    font-size: 36px;
    color: black;

}


#bookingDetailModal .modal-Header span{
    margin-left: auto;
    font-size: 36px;

}

#bookingDetailModal .modal-Body{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto auto;
    justify-content: start; */
    font-size: 24px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4px;
    
}

#bookingDetailModal .modal-Body div:first-child{
    margin-left: auto;
}

#bookingDetailModal .modal-Body div{
    display: flex;
    margin-top: 1%;
    
}

#bookingDetailModal .modal-Body div label{
    font-weight: 600;
}

#bookingDetailModal .modal-Body div span{
    flex: 1;
    /* display: flex; */
    /* justify-self: start; */
}

/* branch Add Modal */

#branchAddModal form{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 48%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: auto;
    border-radius: 4px;
    font-size: 1.8vw;
}

#branchAddModal .modal-Header{
    margin-top: 1%;
    margin-left: 1%;
    font-size: 2vw;
    display: flex;
    align-items: center;
}

#branchAddModal .modal-Header .close {
    margin-left: auto;
    margin-right: 4%;
    font-size: 2.1vw;
}

#branchAddModal .modal-Body{
    display: flex;
    
}

#branchAddModal .modal-Body div{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

#branchAddModal #branchAddFormLeft{
   padding-left: 4%;
   padding-right: 4%;
}

#branchAddFormLeft > label, #branchAddFormRight > label{
    margin-top: 4%;
}

#branchAddFormLeft > input, #branchAddFormRight > input{
    font-size: .8em;
    margin-top: 1%;
}



#branchAddFormRight{
    display: flex;
    flex-direction: column;
    padding-right: 4%;
}

/* branch status container */

#addBranchStatusContainer{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

#addBranchStatusContainer label{
    margin-right: 4%;
    user-select: none;
    
}

#branchAddModal .modal-Footer{
    font-size: .8em;
    display: flex;
    padding-right: 4%;
    margin-top: 4%;

}

#branchAddModal .modal-Footer input{
    padding: 1% 2%;
    font-size: .8em;
}

#branchAddModal .modal-Footer input:first-child{
    margin-left: auto;
    background-color: black;
    color: #ffc933;
}


/* update Branch modal  */

#branchUpdateModal form{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 48%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: auto;
    border-radius: 4px;
    font-size: 1.8vw;
}

#branchUpdateModal .modal-Header{
    margin-top: 1%;
    margin-left: 1%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    
}

#branchUpdateModal .modal-Header .close {
    margin-left: auto;
    margin-right: 4%;
    font-size: 2.1vw;
}

#branchUpdateModal .modal-Body{
    display: flex;
    
}

#branchUpdateModal .modal-Body div{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

#branchUpdateModal #branchUpdateFormLeft{
   padding-left: 4%;
   padding-right: 4%;
}

#branchUpdateFormLeft > label, #branchUpdateFormRight > label{
    margin-top: 4%;
}

#branchUpdateFormLeft > input, #branchUpdateFormRight > input{
    font-size: .8em;
    margin-top: 1%;
}



#branchUpdateFormRight{
    display: flex;
    flex-direction: column;
    padding-right: 4%;
}

/* branch status container */

#updateBranchStatusContainer{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

#updateBranchStatusContainer label{
    margin-right: 4%;
    user-select: none;
    
}

#branchUpdateModal .modal-Footer{
    font-size: .8em;
    display: flex;
    padding-right: 4%;
    margin-top: 4%;

}

#branchUpdateModal .modal-Footer input{
    padding: 1% 2%;
    font-size: .8em;
}

#branchUpdateModal .modal-Footer input:first-child{
    margin-left: auto;
    background-color: transparent;
    border-color: rgb(216, 0, 0);
    color: rgb(216, 0, 0);
    border-style: solid;
    
}

#branchUpdateModal .modal-Footer input:last-child{
    background-color: black;
    color: #ffc933;
    margin-left: 2%;
}



/* toggle switch  */

.switch {
    display: flex;
    width: 40px;
    height: 18px;
}

.switch input{
    visibility: collapse;
    display: none;
}

.slider {
    
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
    padding-left: 6%;
    padding-right: 6%;
}


.slider::after {
    display: inline-flex;
    content: "";
    height: 80%;
    width: 40%;
    align-items: center;
    
    margin-top: auto ;
    margin-bottom: auto;
    border-radius: 34px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider::after {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
}

input:checked + .slider {
    background-color: rgb(22, 229, 22);
}

