*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
                                                
}

.flex{
    display: flex;
}

#contectTitle{ 
    height: 20vh;

    background-image: url("../images/taxi-line-tesla.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 50%;
   
}

#contectTitle div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffffad;

}

#contectTitle div h2{
    font-size: 40px;
    font-weight: 800;
    
}

#contactContainer{
    display: flex;
    flex-direction: row;
    
}

#contactForm, #contactSocial{
    flex: 1;
    display: flex;
}



/* form Style */
#contactForm{
    background-color: black;
    color: white;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
  
}

#contactForm h2{
    font-size: 36px;
    font-weight: 700;

    
}

#contactForm p{
    font-size: 20px;
}

#contactForm h2, #contactForm p, #contactForm form{
    margin-left: 9%;
    margin-right: 9%;
}

#contactForm form{
    /* flex: 2 !important; */
   
    font-size: 24px;
    font-weight: 700;
    display: flex;
    color: white;
    flex-direction: column;
  
}

#contactForm form label{
    margin-top: 3%;
    margin-bottom: 3px;
}

#contactForm form input, #contactForm form textarea{
    font-size: 26px;
    resize: none;
}

#contactForm form input[type=submit]{
    margin-left: auto;
    margin-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #FFBC00;
    color: black;
    border-radius: 10px;
    margin-bottom: 7%;
    font-size: 30px;
    font-weight: 700;
}

#contactForm hr{
    border: none;
    border-top: 2px dashed #FFBC00;
    
    height: 1px;
}




/* contact social media */

#contactSocial{
    background-color:#FFBC00 ;
    flex-direction: column;
    padding-bottom: 10px;

}

#socialMedia{
    display: flex;
    flex-direction: column;
    margin-top: 9%;
    margin-left: 6%;
    height: 24vh;
    
}

#socialMedia div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
    height: 26%;
    
    

}

#socialMedia div img{
    height: 100%;
    margin-right: 2%;
}


#socialMedia div a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}


#contactDetails{
    display: flex;
    margin-left: 6%;
    margin-top: 6%;
    height: 5%;
    
}

#contactDetails div{
    display: flex;
    margin-right: 10%;
    font-size: 24px;
    align-items: center;
    font-weight: 600;
    
}

#contactDetails div img{
    padding-right: 8px;
    height: 100%;
}


#locationDetails{
    display: flex;
    margin-left: 6%;
    margin-top: 6%;
    font-size: 24px;
    font-weight: 600;
}

#locationDetails img{
    height: 100%;
}


#contactSocial hr{
    border: none;
    border-top: 2px dashed black;
    height: 1px;
    bottom: 0px;
    margin-top: auto;
}

/* branch detailes */



#branchesContainer{
    display: flex;
    flex-direction: row;
}

#branchListContainer{
    display: flex;
    flex-direction: column;
    height: 300px;
    
    position: relative;
    align-items: center;
    width: 30%;
    background-image: url("../images/3-taxi.jpg");
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -22px;
    padding-top:2%;
    padding-bottom: 2%;
}

#branchListContainer img{
    height: 20px;
   
    position: absolute;
}

#previousBranch{
    top: 0px;
}

#nextBranch{
    bottom: 0px;
}

#branchList::-webkit-scrollbar {
    display: none;
}

#branchList{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    z-index: 1;
}

#branchList h2{
    margin-top: 24%;
    margin-bottom: 24%;
    color: black;
    opacity: 0.5;
    font-size: 30px;
    
}

.branch-selected{
    font-size: 20px;
    transition: font-size 0.2s ease-out;
    color: black !important;
    font-size: 36px !important;
    
    scroll-snap-align: center;
    opacity: 1 !important;
}


#branch-details{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.branch{
    display: none;
    
    
}

.branch-detail-active {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    flex: 1;
    font-size: 20px;
}

.BD-Contact div{
    width: auto;
}

.BD-Contact, .BD-Contact div{
    display: flex;
    flex-direction: row;
    
}



.BD-Contact, .BD-Location{
    margin-top: 2%;
    margin-left: 5%;
}

.BD-Contact div span{
    
    
}

.BD-Location{
    align-items: center;
    display: flex;
    margin-top: 5%;

}

.BD-Contact div{
    padding-right: 4%;
    
}





