*{
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
}

#FAQheader{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("../images/FAQ.svg");
    background-repeat: no-repeat;
    background-position: -90px;
    background-size: 20%;

}
#FAQSearch{
    display: flex;
    flex-direction: column;
    width: 60%;

}

#FAQSearch h2, #FAQSearch input{
    flex: 1;
}

#FAQSearch h2{
    color: #FFBC00;
}

#FAQSearch input{
    font-size: 2.4vw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 24px;
    border-width: 0px;
    border-style: none;
    padding-left: 2%;
    padding-right: 2%;
    outline: 0px;
}


#FAQContainer{
    margin-left: 6%;
    margin-right: 6%; 
    
}

.FAQ-Item{
    
    margin-bottom: 2%;
    border-radius: 10px;
  

}

.FAQ-Question{
    flex-direction: row;
    font-size: 1.6vw;
    height: 2.5vw;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(176, 176, 176);

}

.FAQ-Question img{
    
    height: 70%;
    margin-left: auto;
}

.FAQ-Awnser{
    
    font-size: 1.5vw;
    background-color: gray;
    height: 0px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transform-style: flat;
    transition: transform 0.5s, padding-top 1s;
    
}

.FAQ-Awnser-active{
    transform: scaleY(1);
    height: auto;
    font-size: 1.5vw;
    background-color: gray;
    padding: 1%;
}

