* {
    margin: 0;
    padding: 0;
}





.flex{
    display: flex;
}

.logo {
    width: 130px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
}




.login-bg {

    background-image: url('../images/taxi-sideview.jpg');
    width: auto;
    height: 100vh;
    background-size: contains;
    padding-top: 3%;

}

.login-panel {
    
    flex-flow: column;
    height: 70%;
    width: 650px;;
    background-color: rgba(255, 255, 255,0.6);
    backdrop-filter: blur(5px);
    margin: auto;
    border-radius: 5px;
    
}

.login-title{
    
    padding-left: 50px;
    padding-top: 50px;
}

.login-title img{
    width: 20%;
    display: flex;
    
}
.login-title p{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 20px;
    padding-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 5%;
    margin-top: 5%;
    
}


.login-form label{
    padding-left: 5px;
}

.email-ip, .password-ip {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: 24px;
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position: left ;
    border-width: 1px;
    border-style: outset;
    background-position-x: 5px;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #292929 1px;
    background-color:rgba(255, 255, 255,0.1) ;
    backdrop-filter: blur(3px);
}



.email-ip{
    margin-bottom: 2%;
    background-image: url('../images/mail.svg');
}

.password-ip {
    margin-bottom: 6%;
    background-image: url('../images/password-lock.svg');
}

.submitBtn{
    font-size: 30px;
    background-color: orange;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.createAccBtn {
    
    margin-top: auto;
    justify-content: center;
    padding-bottom: 16px;
}

.createAccBtn div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

}

.createAccBtn div img{
    display: flex;
    align-items: center;
    height: 18px;
    padding-left: 5px;

}





@media only screen and (max-width: 768px) {


    .login-bg{
        padding-top: 13%;
    }

    .login-panel {

        width:90%;
        
    }

    


 

}