* {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

    font-family: 'Open Sans', sans-serif;
}

.nav-bar {
    height: 55px;

    flex-direction: row;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(209,154,0,1) 56%, rgba(255,188,0,1) 75%); 
}

.logo{
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0.8%;
    
}

#nav-links{

    display:flex;
    flex:1;
    padding-right:1%;
    justify-content:right;
    align-items:center;
    z-index: 0;
    background-color:transparent;
    position:static;
    padding-top:0;
    height:100%;
}

#nav-links button {
    background-color: transparent;
    border: 0px;
    padding: 5px;
    margin: 5px;
}

#nav-links #loginBtn{
    background-color: black;
    border-radius: 15px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: orange !important;
}

#nav-Button{
    display: none;
}

@media only screen and (max-width: 768px) {

    .nav-bar {
        
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(221,163,0,1) 69%, rgba(240,177,0,1) 80%, rgba(249,184,0,1) 87%, rgba(255,188,0,1) 100%);
       
    }

    #nav-links{
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        background-color: black;
        flex: 1;
        z-index: 0;
        padding-top: 0%;
        align-items: center;
        top: 0px;
        margin: auto;
        transition: height 1s, padding-top 1.5s;
        
    }

    .nav-bar-active{
        height: 100vh !important;
        z-index: 2;
        padding-top: 25% !important;
        

    }

    .nav-buttons-active{
        display: flex !important;
        color: white ;
        margin: auto !important;
        z-index: 2 !important;
    }


    .logo{
        height: 70%;
        padding-top: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
        margin-top: auto;
        margin-bottom: auto;
        
    }

   
    #nav-links button, #loginBtn{
       margin-top: 10% !important;
    }

  
    #nav-links button {
        display: none;
    }

    #nav-Button {
        display: flex;
        position: fixed;
        right: 0px;
        padding-right: 1%;
        z-index: 2;
        margin-left: auto;
    }
}






